/*======================================================

 Start page specific look n feel css.

====================================================== */

.sidebar {
  background-color: #F4E3FF;
  text-align: center;
}

.content {
  background-color: #FFB2CC;
  padding: 3.389830%; /* 20px/590px */
}