/* ======================================================

This file is an intermediary file for your layout. 

====================================================== */
/* ======================================================

  Layout rules divide the page into sections. 
  Layouts hold one or more modules together.

====================================================== */
.site {
  width: 100%;
}
.sidebar {
  width: 32.4468085%;
  /* 305px/940px */

  float: left;
  text-align: center;
}
.content {
  margin-left: 34.574468%;
  /*325px/940px*/

  width: 62.765957%;
  /* 590px/940px */

}
/*=================================================================

  Devices

  Place your responsive/fluid/adaptive device specific in this file.

  An example would be putting @media screen queries that change grid/layout for a certain
  capabilties.

================================================================= */
@media screen and (max-width: 480px) {
  .sidebar {
    width: inherit;
    float: none;
  }
  .content {
    margin-left: 0;
    width: inherit;
  }
}
