extends ../../../tests/base

block layout
  h1 this is a h1 using x em.
  h2 this is a h2 using x em.
  h3 this is a h3 using x em.
  h4 this is a h4 using x em.
  h5 this is a h5 using x em.
  h6 this is a h6 using x em.